@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "_media.scss";
@import "_variables.scss";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $s18;
    color: $cinza-7;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
    font-weight: 600;
}

h3 {
    font-size: $s20;
}

a {
    text-decoration: none;
    color: $cinza-7;

    &:hover {
        color: $cinza-2;
    }
}

.d-none {
    display: none !important;
}

button {
    width: 100%;
    height: 38px;
    font-size: $s15;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: 0px;
    border-radius: 5px;
    background-color: $cor-primaria;
    outline: none;

    &:hover {
        background-color: darken($cor-primaria, 10%);
        cursor: pointer;
    }

    &.btn-line {
        color: $cinza-7;
        border: 1px solid $cinza-7;
        background-color: transparent;

        &:hover {
            color: white;
            border-color: $cinza-7;
            background-color: $cinza-7;
        }
    }
}

input {
    width: 100%;
    font-size: 1.125rem;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $cinza-claro;
    outline: none;

    &:hover,
    &:focus {
        border-color: $cinza-7;
    }
}

.radios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        color: $cinza-2;

        input~.checkmark {
            border-color: $cinza-claro;
            background-color: $cinza-claro;
        }
    }

    &.desabilitado {
        color: $cinza-9;

        input~.checkmark {
            border-color: $cinza-claro;
            background-color: $cinza-claro;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            border-color: $cor-primaria;
            background-color: $cor-primaria;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid $cinza-claro;

        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
        }
    }
}

.icone-arrow {
    display: block;
    width: 36px;
    height: 22px;
    background-image: url("../img/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: .25s;

    &.rotacao {
        transform: rotate(-180deg);
    }
}

.icone-cart,
.icone-like {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-image: url("../img/cart.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icone-like {
    background-image: url("../img/like.svg");
}

section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    @include media(lg) {
        max-width: 960px;
    }

    @include media(md) {
        max-width: 720px;
    }

    @include media(sm-abaixo) {
        width: 90%;
        max-width: 540px;
        padding: 0 15px;
    }
}

.loja-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;

    &:hover {
        color: $cor-primaria;
        border-color: $cor-primaria;
        cursor: pointer;

        .icone-arrow {
            background-image: url("../img/arrow-down-verde.svg");
        }
    }

    .icone-cart {
        padding: 4px 6px;
        background-color: $cor-primaria;
        border-radius: 3px;
        background-size: 26px 26px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.loja-produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0px;
    margin: 0 auto 40px auto;
    overflow: auto hidden;
    transition: .25s;

    @include media(sm-abaixo) {
        flex-direction: column;
    }

    &.show {
        height: 375px;

        @include media(sm-abaixo) {
            height: auto;
        }
    }

    //barra movel tamanho 
    &::-webkit-scrollbar {
        height: 0.5rem;
    }

    //caminho/fundo da barra
    &::-webkit-scrollbar-track {
        background: $cinza-claro;
    }

    //barra movel
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: $cinza-9;
    }

    //barra movel hover 
    &::-webkit-scrollbar-thumb:hover {
        background: $cinza-7;
    }

    .product {
        width: 160px;
        min-width: 160px;
        border-radius: 5px;
        padding: 5px;
        margin: 0rem 0.3rem;
        transition: .50s;
        border: 1px solid white;

        @include media(sm-abaixo) {
            width: 62%;
            margin: 0rem 0rem 1.5rem 0rem;
        }

        &:hover {
            border-color: $cor-primaria;
        }

        img {
            width: 100%;
            max-width: 160px;
            min-height: 244px;
            max-height: 244px;
            outline: 1px solid $cinza-claro;

            @include media(sm-abaixo) {
                max-width: 100%;
                min-height: auto;
                max-height: inherit;
            }
        }

        h3 {
            font-size: $s18;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include media(sm-abaixo) {
                white-space: normal;
            }
        }

        p {
            color: $cinza-2;
            margin: 5px 0;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.selected {
            opacity: 0.7;
            background-color: $cinza-claro;

            &:hover {
                border-color: white;
            }

            img {
                filter: grayscale(1);
            }

            button {
                background-color: $cinza-7;
                cursor: default;
            }
        }
    }
}

.cart {
    margin-bottom: 40px;

    h2 {
        border-bottom: 1px solid $cinza-claro;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}

.cart-items {
    display: flex;
    justify-content: space-between;

    @include media(sm-abaixo) {
        flex-direction: column;
    }
}

.bag {
    width: 60%;

    @include media(sm-abaixo) {
        width: 100%;
    }

    .titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $cinza-claro;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $cinza-claro;
        padding-bottom: 15px;
        margin-bottom: 15px;

        img {
            width: 100px;
            max-height: 148px;
        }

        .items-info {
            display: flex;
            flex: auto;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;
            margin-left: 15px;

            p {
                font-size: $s13;
                color: $cinza-7;
                position: relative;
                top: 8px;
            }

            input {
                max-width: 60px;
            }

            a {
                font-size: $s15;
                width: fit-content;

                &:hover {
                    color: red;
                }
            }
        }

        p {
            color: $cinza-2;

            @include media(sm-abaixo) {
                display: contents;
            }
        }
    }
}

.values {
    width: 32%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;

    @include media(sm-abaixo) {
        width: 100%;
        padding: 0;
        border: 0;
        margin-top: 30px;
    }

    [class*="shipping-"] {
        font-size: $s14;
    }

    .shipping-info {
        color: $cinza-2;
    }

    .shipping-add {
        span {
            color: red;
        }
    }

    .shipping-free {
        display: flex;
        align-items: flex-end;
        color: $cor-primaria;
    }

    .zipcode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;

        @include media(md-abaixo) {
            flex-direction: column;
            align-items: flex-start;
        }

        &.erro {
            input {
                border-color: red;
            }

            a {
                color: red;
            }
        }

        input {
            max-width: 100px;

            @include media(md-abaixo) {
                max-width: 92%;
            }
        }

        button {
            max-width: 50px;
            margin: 0 15px;

            @include media(md-abaixo) {
                max-width: 100%;
                margin: 10px 0;
            }
        }

        label {
            font-size: $s13;
            color: red;
        }
    }

    .zipcode-choices {
        display: flex;
        flex-direction: column;
        height: 105px;
        overflow: hidden;
        margin-bottom: 15px;
        transition: .40s;

        @include media(md-abaixo) {
            font-size: $s16;
        }

        [class*="zipcode-choice"] {
            display: flex;
            justify-content: space-between;
        }

        &.hide {
            height: 0px;
            margin-bottom: 0px;
        }

        &.erro { 
            color: red;

            .checkmark {
                border-color: red;
            }
        }
    }

    .zipcode-numbers {
        height: 102px;
        overflow: hidden;
        margin-bottom: 15px;
        transition: .40s;

        p {
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                color: $cinza-2;
            }
        }

        &.hide {
            height: 0px;
            margin-bottom: 0px;
        }
    }

    .resume {
        p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            &:nth-of-type(3) {
                color: $cinza-2;
            }
        }

        button {
            margin-top: 10px;
        }
    }
}

.modal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    align-items: center;
    background-color: rgba(black, .9);

    .modal-main {
        width: 300px;
        text-align: center;
        padding: 15px;
        border-radius: 5px;
        background-color: white;

        .modal-footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 20px;

            button {
                max-width: 140px;
            }
        }
    }
}

.autoselecionado {
    color: $cor-primaria !important;
}

.anime-aparecer {
    animation: 1s ease 0s 1 anime-aparecer;
}

@keyframes anime-aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}